<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.6.417" newVersion="5.1.6.417" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>

    <!--Must change to fit local environment-->
    <add key="Precalculated_JSON_files_dir" value="..\..\..\..\Pre_calculated_data\" />

    <add key="MachineIDs" value="BR1;UM-EX4" />

    <add key="PhotonVMATOptimization" value="PO_15605" />
    <add key="PhotonVolumeDose" value="AAA_15605" />
    
    <add key="Logfile_dir" value=".\" />
    <add key="Constrains_Parameters_R_out_file" value="Constraints_Parameters_R_out.json" />
    
    <!--Optional--> 
    <add key="NTO_priority" value="85" />
    <add key="NTO_distanceFromTargetBorderInMM" value="3" />
    <add key="NTO_startDosePercentage" value="100" />
    <add key="NTO_endDosePercentage" value="30" />
    <add key="NTO_fallOff" value="0.11" />

    <add key="if_add_zNape" value="true" />
    <add key="zNape_priority" value="50" />
    <add key="zNape_gEUD_limit_Gy" value="10" />
    <add key="zNape_gEUD_a" value="2" />
    <add key="zNape_marginFromPTVsInMM" value="10" />

    <add key="if_add_zBuff" value="true" />
    <add key="zBuff_priority" value="50" />
    <add key="zBuff_gEUD_limit_Gy" value="10" />
    <add key="zBuff_gEUD_a" value="2" />
    <add key="zBuff_marginFromPTVsInMM" value="8" />

    <!-- the biggest margin we can add is 50mm, so I first expand 30mm from spinalcord for zBuff, then add the second round directional margins -->
    <add key="zBuff_1st_expansion_margin_inMM" value="30" />
    <!-- directional margines for zBuff and zNape; AxisAlignedMargins format x1;y1;z1;x2;y2;z2; -->
    <add key="zBuff_expansion_from_spinalCord_inMM" value="20;50;0;20;20;50;" />
    <add key="zNape_expansion_from_spinalCord_inMM" value="50;0;0;50;50;0;" />

    <add key="OARs_into_zOptPTV_xxx_L_list" value="Parotid_L;Parotid_R;Glnd_Submand_L;Glnd_Submand_R" />
    <add key="OARs_into_zOptPTV_xxx_L_Priority" value="1" />

    <add key="Isocenter_location_precedence" value="Larynx;Musc_Constrict_I" />
    <add key="isocenter_Y_at_OAR" value="posterior" />
    <add key="isocenter_Z_at_OAR" value="superior" />

    <add key="prio_1" value="100" />
    <add key="prio_1_5" value="90" />
    <add key="prio_2" value="80" />
    <add key="prio_2_5" value="50" />
    <add key="prio_3" value="30" />
    <add key="prio_3_5" value="20" />
    <add key="prio_4" value="10" />
    

    <add key="prio_zDLA_High" value="80" />
    <add key="prio_zDLA_Mid" value="80" />
    <add key="prio_zDLA_Low" value="80" />



    <add key="Modify_default_PD_constraint_priorities" value="Lips:2.5;Glnd_Lacrimal_L:2.5;Glnd_Lacrimal_R:2.5;Eye_L:2.5;Eye_R:2.5;Lens_L:2.5;Lens_R:2.5;Cochlea_L:3;Cochlea_R:3;Brainstem_PRV03:1.5;OpticChiasm_PRV3:1.5;SpinalCord_PRV05:1.5;OpticNrv_PRV03_L:1.5;OpticNrv_PRV03_R:1.5;" />

    <add key="MeanBreakUp_affected_by_PTV_overlap" value="Parotid_L;Parotid_R;Glnd_Submand_L;Glnd_Submand_R;Cavity_Oral;Larynx;Musc_Constrict_I;Musc_Constrict_S;Esophagus" />


    <add key="zPTV_Low_name" value="zPTV_Low" />
    <add key="zPTV_Low_only_name" value="zPTV_Low!" />
    <add key="zPTV_Mid_name" value="zPTV_Mid" />
    <add key="zPTV_Mid_only_name" value="zPTV_Mid!" />

    <add key="Scan_angles_for_jaw_width" value="0;5;10;15;20;25;30;35;40;45;50;55;60;65;70;75;80;85;90;95;100;105;110;115;120;125;130;135;140;145;150;155;160;165;170;175;180;-175;-170;-165;-160;-155;-150;-145;-140;-135;-130;-125;-120;-115;-110;-105;-100;-95;-90;-85;-80;-75;-70;-65;-60;-55;-50;-45;-40;-35;-30;-25;-20;-15;-10;-5;" />

    <!--Beams Parameters format: BeamName,tableAngle,gantryStart,gantryStop,mlc_angle;Repeat.... -->
    <!--You must configure 4 beams here. And the last beam may not be created.-->
    <add key="beams_config_string" value="CW,0,182,178,Clockwise,20;CCW,0,178,182,CounterClockwise,340;CW2,0,182,178,Clockwise,85;CCW2,0,178,182,CounterClockwise,85;" />

    <add key="Max_Jaw_X_Width_inMM" value="220" />

    <!-- Move isocenter to PTV if the difference in Jaw X1 and X2 are greater than the following cutoff (unit mm) -->
    <add key="diff_X_limit_inMM" value="20" />

    <!-- Move isocenter to PTV if the difference in Jaw Y1 and Y2 are greater than the following cutoff (unit mm) -->
    <add key="diff_Y_limit_inMM" value="20" />

    <!-- Move isocenter to PTV if the max reduction in Jaw X width are greater than the following cutoff in any of the beams (unit mm) -->
    <add key="Jaw_X_width_reduction_cutoff_inMM" value="20" />

    <!-- Move isocenter to PTV if the max reduction in Jaw Y width are greater than the following cutoff in any of the beams (unit mm) -->
    <add key="Jaw_Y_width_reduction_cutoff_inMM" value="20" />

    <!-- Margin in MM between PTV and Jaw edge -->
    <add key="JawMargin_X_inMM" value="10" />
    <add key="JawMargin_Y_inMM" value="10" />


    <add key="Structures_trigger_4_beams" value="Glnd_Lacrimal_L;Glnd_Lacrimal_R;Eye_L;Eye_R;Lens_L;Lens_R;OpticChiasm;OpticNrv_L;OpticNrv_R;OpticChiasm_PRV3;OpticNrv_PRV03_L;OpticNrv_PRV03_R;" />


  </appSettings>
</configuration>
